@include font-face("yeseva-one-webfont", "../assets/fonts/yeseva-one-webfont") {
    font-weight: 400;
    font-style: normal;
}


@include font-face("lato-regular-webfont", "../assets/fonts/lato-regular-webfont") {
    font-weight: 400;
    font-style: normal;
}

@include font-face("opensans-regular-webfont", "../assets/fonts/opensans-regular-webfont") {
    font-weight: 400;
    font-style: normal;
}