footer#footer {
    background-color: $dark;
    color: $white;

    .row {
        .col:not(:last-child) {
            margin-bottom: unit(32);

            @media #{$large-and-up} {
                margin-bottom: 0;
            }
        }
    }

    p {
        font-family: "opensans-regular-webfont", Arial, Helvetica, sans-serif !important;
        font-weight: 100;
        color: rgba($white, 0.7);

        b {
            font-weight: bold !important;
            color: $white;
        }
    }
}