#home {
    max-height: 100%;
    height: 670px;
    background: $bg-gray url("https://source.unsplash.com/1600x900/?white") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}